body{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}
h1{
    background-color: black;
    color: white;
}
button{
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: gray;
    color: white;
    cursor: pointer;
    /* text-align: center; */
}